section {
  margin: 3rem 12vw !important;
}

.articulo {
  margin-top: 40rem;
}

.articulo__bg-image {
  width: 100%;
  height: 35rem;
  margin-bottom: 35rem;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  filter: brightness(.4);
  background-image: url('../../../assets/images/el-festival-info.jpg');
  position: absolute;
  left: 0;
  top: 10rem;
}

.articulo__bg-text {
  position: absolute;
  color: #f0efef;
  padding: 0 1rem;
  top: 20rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  align-items: center;
}

.articulo__title {
  font-size: 4rem;
  font-weight: 300;
}

.articulo__subtitle {
  font-size: 2rem;
  font-weight: 100;
}

.articulo__paragrafo {
  margin: 3rem 0;
}

.articulo__subheading {
  font-size: 2.5rem;
  font-weight: 300;
}

.articulo__razones {
  text-align: center;
  display: table;
  min-width: 30rem;
  margin: 3rem auto;

  @media (max-width: $mobile-breakpoint) {
    min-width: auto;
  }

}

.articulo__razon {
  margin: 1rem 0;
  border: 1px solid rgb(158, 158, 158);
  padding: 1rem;
  border-radius: 30px;
  font-size: 1.1rem;
}

.articulo__imagen {

  display: flex;
  justify-content: center;
  margin-bottom: 3rem;

  img {
    margin-bottom: 3rem auto;
    width: auto;
    height: auto;
    max-height: 550px;
    text-align: center;
  }

}
