$font-family-sans-serif: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$bg-color: rgb(252, 252, 252);
$primary-color: rgb(37, 37, 37);
$secondary-color: rgb(13, 201, 207);

$mobile-breakpoint: 675px;
$mobile-breakpoint-height: 630px;

/* BS4 Theming */

$theme-colors: (
  "primary": $primary-color
);
