.content {
  color: white;
  display: grid;
  text-align: center;
  align-content: center;
  grid-template-columns: 1fr;
  gap: 1.5em;
  height: 90vh;
  clear: both;

  @media (max-width: $mobile-breakpoint), (max-height: $mobile-breakpoint-height) {
    overflow-y: scroll;
    align-content: start;
  }

}

@supports not (display: grid) {

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}

.texto-home {
  font-size: 1.5rem;
  padding: 1rem;
}

.content__buttons-bottom, .content__buttons-top {

  display: flex;
  justify-content: space-around;

  @media (max-width: $mobile-breakpoint), (max-height: $mobile-breakpoint-height) {
    display: none !important;
  }

}

.content__buttons-top {
  margin-bottom: -1rem;
}

@keyframes logo-glow {
  from {opacity: 1;}
  to {opacity: .4;}
}

.content__logo-home {
  height: auto;
  max-height: 10rem;
  width: auto;
  animation: logo-glow 2s linear infinite alternate both;
}

.content__logo-aguja {
  height: auto;
  max-height: 10rem;
  width: auto;
  animation: movimiento-aguja 2s linear infinite both;
  position: absolute;
  z-index: 1;
}

.content__logo-disco {
  height: auto;
  max-height: 10rem;
  width: auto;
  animation: rotacion-disco 2s linear infinite both;
}

@keyframes music-notes {
  0%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50%{
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100%{
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

.notes-dance {
  animation-name: music-notes;
  animation-duration: .5s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
}

.content__bands {
  position: relative;

  .fa-users {
    font-size: 6rem;
  }

  .note1 {
    position: absolute;
    top: -1rem;
    left: -1.5rem;
  }

  .note2 {
    position: absolute;
    top: 2rem;
    right: -2rem;
  }

  .note3 {
    position: absolute;
    bottom: 3rem;
    left: -1.5rem;
  }

  &:hover {
    cursor: pointer;
  }

}

.hide {
  display: none;
}

@keyframes rotate-ticket {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-360deg);
            transform: rotateX(-360deg);
  }
}

.rotate-ticket {
  animation-name: rotate-ticket;
  animation-duration: .5s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}

.content__contact {

  i {
    font-size: 6rem;
  }

  &:hover {
    cursor: pointer;
  }

}

.flip-about {
  animation-name: flip-about;
  animation-duration: .5s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}

@keyframes flip-about {
  0%{
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100%{
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

.content__about {

  i {
    font-size: 6rem;
  }

  &:hover {
    cursor: pointer;
  }

}

@keyframes text-glow {
  from {text-shadow: 1px 0px 9px rgba(255, 255, 255, 1);}
  to {text-shadow: -2px 0px 9px rgba(244, 250, 211, .3);}
}

.content__title {
  font-size: 5rem;
  font-weight: 500;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  animation: text-glow 2s linear infinite alternate both;
  text-shadow: 1px 0px 9px rgba(255, 255, 255, 255);
  position: relative;
  flex-direction: column;

  .title-line {
    height: 1px;
    margin-top: .5rem;
    width: 100%;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.8) 31%, rgba(255,255,255,.8) 34%, rgba(255,255,255,.8) 67%, rgba(255,255,255,.8) 70%, rgba(255,255,255,0) 100%);
  }

}

.content__calendar {
  font-size: 2rem;
  display: flex;
  justify-content: center !important;
  align-self: center;

  i {
    font-size: 4rem;
    align-self: center;
  }

  &>div {

    margin: 0 1rem;
    padding: .8rem;
    border-radius: 1rem;
    display: flex;
    background: rgba(255, 255, 255, 0.158);
    background: linear-gradient(36deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,0.07046568627450978) 100%);

    @media (max-width: $mobile-breakpoint), (max-height: $mobile-breakpoint-height) {
      margin: 1rem 1rem;
    }

  }

  @media (max-width: $mobile-breakpoint), (max-height: $mobile-breakpoint-height) {
    flex-direction: column;
  }

}

.mobile-header__icon {
  color: white !important;
}

.mobile-header__line {
  border: unset !important;
}
